.node-red/.flows.json.backup
[
    {
        "id": "9e1a7cc2b061c235",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "14d51d18c22f928d",
        "type": "tab",
        "label": "flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "24de8c9fb840dd61",
        "type": "inject",
        "z": "9e1a7cc2b061c235",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 247,
        "y": 360,
        "wires": [
            [
                "d8b544147cbd3f58"
            ]
        ]
    },
    {
        "id": "ddd3d67a3b321152",
        "type": "debug",
        "z": "9e1a7cc2b061c235",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 993,
        "y": 360,
        "wires": []
    },
    {
        "id": "d8b544147cbd3f58",
        "type": "function",
        "z": "9e1a7cc2b061c235",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 647,
        "y": 360,
        "wires": [
            [
                "ddd3d67a3b321152"
            ]
        ]
    },
    {
        "id": "2bfd17ab3895cc1c",
        "type": "http request",
        "z": "9e1a7cc2b061c235",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 513,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "856d78ef454d5c2c",
        "type": "inject",
        "z": "9e1a7cc2b061c235",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 233,
        "y": 540,
        "wires": [
            [
                "2bfd17ab3895cc1c"
            ]
        ]
    },
    {
        "id": "a1eeb0ab4d1a019d",
        "type": "http in",
        "z": "14d51d18c22f928d",
        "name": "POST /ai",
        "url": "/ai",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 242.5,
        "y": 280,
        "wires": [
            [
                "7a56c30ea3cb0c6e"
            ]
        ]
    },
    {
        "id": "7a56c30ea3cb0c6e",
        "type": "function",
        "z": "14d51d18c22f928d",
        "name": "Check Prompt",
        "func": "// Get the prompt\nconst prompt = (msg.payload.prompt || '').toLowerCase();\n\nif (prompt.includes('false')) {\n    msg.statusCode = 400;\n    msg.payload = { status: \"error\", message: \"Invalid prompt\" };\n} else {\n    msg.payload = { status: \"success\", message: \"Valid prompt\" };\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 617.5,
        "y": 280,
        "wires": [
            [
                "9102151c2da77a59"
            ]
        ]
    },
    {
        "id": "c7b607d41bd3bfa1",
        "type": "http response",
        "z": "14d51d18c22f928d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 977.5,
        "y": 540,
        "wires": []
    },
    {
        "id": "9102151c2da77a59",
        "type": "delay",
        "z": "14d51d18c22f928d",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 982.5,
        "y": 280,
        "wires": [
            [
                "c7b607d41bd3bfa1"
            ]
        ]
    }
]