apps/authentication/GXFS/GXFSAuthJSON.json
[
    {
        "id": "3cac2a44dd49d77a",
        "type": "group",
        "z": "1e91cdd6adec7f38",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a57b8accbb7cbe1d",
            "29420342f4b101a9",
            "107349cbc78b1886",
            "c82781cd351d7d06",
            "69313f4d3d88dade",
            "f7b0265e7debd108",
            "a96af4f09d76c3bd"
        ],
        "x": 124,
        "y": 564,
        "w": 907,
        "h": 389.5
    },
    {
        "id": "d6c5d585a65c85a2",
        "type": "subflow",
        "name": "GXUI Navigation",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 120,
                "wires": [
                    {
                        "id": "82dac6376e2ecbdd"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1447.5,
                "y": 380,
                "wires": [
                    {
                        "id": "fac05ae55dc2952a",
                        "port": 0
                    },
                    {
                        "id": "96ce44d875755edc",
                        "port": 0
                    },
                    {
                        "id": "e40aa166798f26c8",
                        "port": 0
                    },
                    {
                        "id": "bcbc3447eedf2a83",
                        "port": 0
                    },
                    {
                        "id": "c135b89998de782e",
                        "port": 0
                    },
                    {
                        "id": "5d298f74a3a49aaf",
                        "port": 0
                    },
                    {
                        "id": "3e3375be560ffdc0",
                        "port": 0
                    },
                    {
                        "id": "8192b3e6c48b4cf0",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "fac05ae55dc2952a",
        "type": "change",
        "z": "d6c5d585a65c85a2",
        "name": "1st Step Next",
        "rules": [
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"0\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"1\"].setBadge.isActive",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "clientId",
                "pt": "msg",
                "to": "payload.clientId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 725,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "96ce44d875755edc",
        "type": "change",
        "z": "d6c5d585a65c85a2",
        "name": "2nd Step Previous",
        "rules": [
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"0\"].setBadge.isActive",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"1\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "clientId",
                "pt": "msg",
                "to": "payload.clientId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 715,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "5d298f74a3a49aaf",
        "type": "change",
        "z": "d6c5d585a65c85a2",
        "name": "2nd Step Next",
        "rules": [
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"0\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"1\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"2\"].setBadge.isActive",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "clientId",
                "pt": "msg",
                "to": "payload.clientId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 715,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "e40aa166798f26c8",
        "type": "change",
        "z": "d6c5d585a65c85a2",
        "name": "3rd Step Previous",
        "rules": [
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"0\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"1\"].setBadge.isActive",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"2\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "clientId",
                "pt": "msg",
                "to": "payload.clientId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 725,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "bcbc3447eedf2a83",
        "type": "change",
        "z": "d6c5d585a65c85a2",
        "name": "3rd Step Next",
        "rules": [
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"0\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"1\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"2\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"3\"].setBadge.isActive",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "clientId",
                "pt": "msg",
                "to": "payload.clientId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 725,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "c135b89998de782e",
        "type": "change",
        "z": "d6c5d585a65c85a2",
        "name": "4th Step Prevoius",
        "rules": [
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"0\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"1\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"2\"].setBadge.isActive",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"3\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "clientId",
                "pt": "msg",
                "to": "payload.clientId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 725,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "82dac6376e2ecbdd",
        "type": "switch",
        "z": "d6c5d585a65c85a2",
        "name": "",
        "property": "payload.event.submit",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "goto2ndStep",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "goto1stStep",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "goto3rdStep",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "goto4thStep",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "goto5thStep",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 205,
        "y": 780,
        "wires": [
            [
                "fac05ae55dc2952a",
                "e40aa166798f26c8"
            ],
            [
                "96ce44d875755edc"
            ],
            [
                "5d298f74a3a49aaf",
                "c135b89998de782e"
            ],
            [
                "bcbc3447eedf2a83",
                "8192b3e6c48b4cf0"
            ],
            [
                "3e3375be560ffdc0"
            ]
        ]
    },
    {
        "id": "8192b3e6c48b4cf0",
        "type": "change",
        "z": "d6c5d585a65c85a2",
        "name": "5th Step Prevoius",
        "rules": [
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"0\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"1\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"2\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"3\"].setBadge.isActive",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"4\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "clientId",
                "pt": "msg",
                "to": "payload.clientId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 725,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "3e3375be560ffdc0",
        "type": "change",
        "z": "d6c5d585a65c85a2",
        "name": "4th Step Next",
        "rules": [
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"0\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"1\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"2\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"3\"].setBadge.isActive",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"4\"].setBadge.isActive",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "clientId",
                "pt": "msg",
                "to": "payload.clientId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 725,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "a57b8accbb7cbe1d",
        "type": "uibuilder",
        "z": "1e91cdd6adec7f38",
        "g": "3cac2a44dd49d77a",
        "name": "",
        "topic": "",
        "url": "GXUI",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "6.0.0",
        "showMsgUib": false,
        "x": 785,
        "y": 640,
        "wires": [
            [
                "a96af4f09d76c3bd"
            ],
            []
        ]
    },
    {
        "id": "29420342f4b101a9",
        "type": "change",
        "z": "1e91cdd6adec7f38",
        "g": "3cac2a44dd49d77a",
        "name": "UI Ready",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.ui",
                "pt": "msg",
                "to": "ui",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "ui",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 395,
        "y": 640,
        "wires": [
            [
                "a57b8accbb7cbe1d"
            ]
        ]
    },
    {
        "id": "107349cbc78b1886",
        "type": "subflow:d6c5d585a65c85a2",
        "z": "1e91cdd6adec7f38",
        "g": "3cac2a44dd49d77a",
        "name": "Navigation Buttons",
        "x": 405,
        "y": 760,
        "wires": [
            [
                "a57b8accbb7cbe1d"
            ]
        ]
    },
    {
        "id": "c82781cd351d7d06",
        "type": "link in",
        "z": "1e91cdd6adec7f38",
        "g": "3cac2a44dd49d77a",
        "name": "link in 3",
        "links": [
            "a51efc4d5a775c3d",
            "585313fa3561e9db",
            "fd594aea1e67aaac",
            "3b70f596690b1517"
        ],
        "x": 607.5,
        "y": 900,
        "wires": [
            [
                "a57b8accbb7cbe1d"
            ]
        ]
    },
    {
        "id": "69313f4d3d88dade",
        "type": "link in",
        "z": "1e91cdd6adec7f38",
        "g": "3cac2a44dd49d77a",
        "name": "link in 4",
        "links": [
            "eefeb0eaaec98399"
        ],
        "x": 177.5,
        "y": 640,
        "wires": [
            [
                "29420342f4b101a9"
            ]
        ]
    },
    {
        "id": "f7b0265e7debd108",
        "type": "link in",
        "z": "1e91cdd6adec7f38",
        "g": "3cac2a44dd49d77a",
        "name": "link in 24",
        "links": [
            "3b6379b17fba9e3e",
            "0e8cc2787575372d",
            "2f814397a9367c8f"
        ],
        "x": 182.5,
        "y": 760,
        "wires": [
            [
                "107349cbc78b1886"
            ]
        ]
    },
    {
        "id": "a96af4f09d76c3bd",
        "type": "link out",
        "z": "1e91cdd6adec7f38",
        "g": "3cac2a44dd49d77a",
        "name": "link out 32",
        "mode": "link",
        "links": [
            "f461776f5d600e1d"
        ],
        "x": 977.5,
        "y": 640,
        "wires": []
    },
    {
        "id": "fadc496bcf9b0c49",
        "type": "group",
        "z": "1e91cdd6adec7f38",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "891927badc5783aa",
            "047602e91e051d59",
            "74c3e331aa674993",
            "608c86b8f62e3902",
            "59b664015f043c83",
            "3e379b2b04235fa1",
            "16eb8c93a44d2e2c",
            "c36c5da96bbfa70e",
            "eefeb0eaaec98399",
            "b69916f6b7354665",
            "dc46d7175941a128",
            "35a4bc886944a50d",
            "e28612c32fd7f5e4",
            "bb72588602fb75e5"
        ],
        "x": 54,
        "y": 166.5,
        "w": 1852,
        "h": 329.5
    },
    {
        "id": "891927badc5783aa",
        "type": "Label",
        "z": "1e91cdd6adec7f38",
        "g": "fadc496bcf9b0c49",
        "TitleText": "Welcome to Gaia-X Portal",
        "TitleClass": "",
        "DescTitle": "Create your account in a few steps and benefit of our secure and transparent Federated Catalogue.",
        "DescClass": "labelDescription",
        "DescStyle": "",
        "TitleStyle": "",
        "x": 515,
        "y": 280,
        "wires": [
            [
                "047602e91e051d59"
            ]
        ]
    },
    {
        "id": "047602e91e051d59",
        "type": "GXUI Header",
        "z": "1e91cdd6adec7f38",
        "g": "fadc496bcf9b0c49",
        "name": "",
        "alt": "Gaia-x logo image",
        "src": "logo.svg",
        "style": "headerImage",
        "class": "headerImageSrc",
        "MenuButton": [
            {
                "label": "Log out",
                "style": "",
                "class": "",
                "value": "onClickLogout",
                "onClick": "onClickLogout",
                "type": "Submit"
            }
        ],
        "MenuItem": [
            {
                "label": "Services 3",
                "style": "",
                "class": "",
                "value": "https://portal.gxfs.dev/onboarding",
                "onClickSend": "https://portal.gxfs.dev/onboarding",
                "type": "Submit and Send Data"
            },
            {
                "label": "Data",
                "style": "",
                "class": "",
                "value": "data",
                "onClickSend": "data",
                "type": "Submit and Send Data"
            },
            {
                "label": "Provider",
                "style": "",
                "class": "",
                "value": "provider",
                "onClickSend": "provider",
                "type": "Submit and Send Data"
            },
            {
                "label": "Help",
                "style": "",
                "class": "",
                "value": "https://www.google.com",
                "type": "Direct Link",
                "href": "https://www.google.com"
            },
            {
                "label": "Language",
                "style": "",
                "class": "",
                "value": "https://www.google.com",
                "type": "Direct Link",
                "href": "https://www.google.com"
            }
        ],
        "x": 795,
        "y": 280,
        "wires": [
            [
                "74c3e331aa674993"
            ]
        ]
    },
    {
        "id": "74c3e331aa674993",
        "type": "GXUI Footer",
        "z": "1e91cdd6adec7f38",
        "g": "fadc496bcf9b0c49",
        "name": "",
        "alt": "Go to home",
        "src": "logo_white.svg",
        "style": "",
        "class": "footerImage",
        "MenuButton": [
            {
                "label": "Legal Notice",
                "style": "",
                "class": "",
                "value": "https://international.eco.de/legal-notice/",
                "type": "Direct Link",
                "href": "https://international.eco.de/legal-notice/"
            }
        ],
        "MenuItem": [
            {
                "label": "Imprint",
                "style": "",
                "class": "",
                "value": "https://www.google.com",
                "type": "Direct Link",
                "href": "https://www.google.com"
            },
            {
                "label": "Privacy",
                "style": "",
                "class": "",
                "value": "submit",
                "onClick": "submit",
                "type": "Submit"
            },
            {
                "label": "Policy",
                "style": "",
                "class": "",
                "value": "policy",
                "type": "Submit and Send Data",
                "onClickSend": "policy"
            },
            {
                "label": "Cookie Settings",
                "style": "",
                "class": "",
                "value": "cookie",
                "type": "Submit and Send Data",
                "onClickSend": "cookie"
            },
            {
                "label": "Terms & Conditions",
                "style": "",
                "class": "",
                "value": "https://www.bing.com",
                "type": "Direct Link",
                "href": "https://www.bing.com"
            },
            {
                "label": "Contact",
                "style": "",
                "class": "",
                "value": "#",
                "type": "Direct Link",
                "href": "#"
            },
            {
                "label": "Help",
                "style": "",
                "class": "",
                "value": "#",
                "type": "Direct Link",
                "href": "#"
            }
        ],
        "x": 1075,
        "y": 280,
        "wires": [
            [
                "59b664015f043c83"
            ]
        ]
    },
    {
        "id": "608c86b8f62e3902",
        "type": "inject",
        "z": "1e91cdd6adec7f38",
        "g": "fadc496bcf9b0c49",
        "name": "Show UI",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "891927badc5783aa"
            ]
        ]
    },
    {
        "id": "59b664015f043c83",
        "type": "Data_Set",
        "z": "1e91cdd6adec7f38",
        "g": "fadc496bcf9b0c49",
        "name": "Step One",
        "number": "1",
        "title": "Company Data",
        "description": "",
        "formtitle": "Enter the data manually",
        "formDes": "",
        "tiptitle": "First Step Tip",
        "tipdesc": "Create your account in a few steps and benefit of our secure and transparent Federated Catalogue.",
        "menuButton": [
            {
                "id": "",
                "label": "Previous",
                "style": "",
                "class": "",
                "value": "#",
                "select": "Submit and Send Data",
                "onClickSend": "#"
            },
            {
                "id": "",
                "label": "Next",
                "style": "",
                "class": "",
                "value": "goto2ndStep",
                "select": "Submit and Send Data",
                "onClickSend": "goto2ndStep"
            }
        ],
        "formElement": [
            {
                "value": "",
                "type": "input",
                "inputType": "text",
                "placeholder": "My Name",
                "style": "",
                "class": ""
            },
            {
                "value": "",
                "type": "input",
                "inputType": "text",
                "placeholder": "Legal Entity Name",
                "style": "",
                "class": ""
            },
            {
                "value": "",
                "type": "input",
                "inputType": "text",
                "placeholder": "Registered Name (optional)",
                "style": "",
                "class": ""
            },
            {
                "value": "",
                "type": "input",
                "inputType": "text",
                "placeholder": "Address",
                "style": "",
                "class": ""
            },
            {
                "value": "",
                "type": "input",
                "inputType": "text",
                "placeholder": "Address 2",
                "style": "",
                "class": ""
            },
            {
                "value": "",
                "type": "input",
                "inputType": "email",
                "placeholder": "Email",
                "style": "",
                "class": ""
            },
            {
                "value": "",
                "type": "input",
                "inputType": "text",
                "placeholder": "City",
                "style": "",
                "class": ""
            },
            {
                "value": "",
                "type": "input",
                "inputType": "text",
                "placeholder": "State",
                "style": "",
                "class": ""
            },
            {
                "value": "",
                "type": "input",
                "inputType": "text",
                "placeholder": "Zip",
                "style": "",
                "class": ""
            },
            {
                "value": "",
                "type": "input",
                "inputType": "text",
                "placeholder": "Country",
                "style": "",
                "class": ""
            },
            {
                "type": "label",
                "title": "Unique ID",
                "description": "",
                "style": "",
                "class": ""
            },
            {
                "value": "sample3",
                "type": "dropDown",
                "title": "Company Data 1",
                "opt": "sample1,sample2,sample3,sample4",
                "style": "",
                "class": ""
            },
            {
                "value": "",
                "type": "input",
                "inputType": "text",
                "placeholder": "DE1234",
                "style": "",
                "class": ""
            }
        ],
        "dropdownStatus": "true",
        "x": 1365,
        "y": 280,
        "wires": [
            [
                "e28612c32fd7f5e4"
            ]
        ]
    },
    {
        "id": "3e379b2b04235fa1",
        "type": "Data_Set",
        "z": "1e91cdd6adec7f38",
        "g": "fadc496bcf9b0c49",
        "name": "Step 2",
        "number": "2",
        "title": "Site Data",
        "description": "",
        "formtitle": "You can add additional sites for the company (optional)",
        "formDes": "",
        "tiptitle": "Second Step Tip",
        "tipdesc": "Create your account in a few steps and benefit of our secure and transparent Federated Catalogue.",
        "menuButton": [
            {
                "id": "",
                "label": "Previous",
                "style": "",
                "class": "",
                "value": "goto1stStep",
                "select": "Submit and Send Data",
                "onClickSend": "goto1stStep"
            },
            {
                "id": "",
                "label": "Next",
                "style": "",
                "class": "",
                "value": "goto3rdStep",
                "select": "Submit and Send Data",
                "onClickSend": "goto3rdStep"
            }
        ],
        "formElement": [
            {
                "value": "",
                "type": "input",
                "inputType": "text",
                "placeholder": "My Name2",
                "style": "",
                "class": ""
            },
            {
                "value": "",
                "type": "input",
                "inputType": "text",
                "placeholder": "Address",
                "style": "",
                "class": ""
            },
            {
                "value": "",
                "type": "input",
                "inputType": "text",
                "placeholder": "Address2",
                "style": "",
                "class": ""
            },
            {
                "value": "",
                "type": "input",
                "inputType": "text",
                "placeholder": "City",
                "style": "",
                "class": ""
            },
            {
                "value": "",
                "type": "input",
                "inputType": "text",
                "placeholder": "State",
                "style": "",
                "class": ""
            },
            {
                "value": "",
                "type": "input",
                "inputType": "text",
                "placeholder": "Zip",
                "style": "",
                "class": ""
            },
            {
                "value": "",
                "type": "input",
                "inputType": "text",
                "placeholder": "Country",
                "style": "",
                "class": ""
            },
            {
                "type": "button",
                "label": "Add further address for this site",
                "value": "#",
                "select": "Direct Link",
                "style": "",
                "class": "",
                "href": "#"
            },
            {
                "type": "label",
                "title": "Status of Operation",
                "description": "",
                "style": "",
                "class": ""
            },
            {
                "value": "operating",
                "type": "dropDown",
                "title": "Site Data 1",
                "opt": "out of operation,operating",
                "style": "",
                "class": ""
            },
            {
                "value": {},
                "style": "",
                "class": "",
                "type": "upload",
                "label": "Add more site information",
                "description": "",
                "accept": "*",
                "multiple": "false",
                "uploadkey": "12"
            },
            {
                "type": "button",
                "label": "Add further site to company",
                "value": "#",
                "select": "Direct Link",
                "style": "",
                "class": "",
                "href": "#"
            }
        ],
        "dropdownStatus": "false",
        "x": 515,
        "y": 420,
        "wires": [
            [
                "16eb8c93a44d2e2c"
            ]
        ]
    },
    {
        "id": "16eb8c93a44d2e2c",
        "type": "Data_Set",
        "z": "1e91cdd6adec7f38",
        "g": "fadc496bcf9b0c49",
        "name": "Step 3",
        "number": "3",
        "title": "Role Selection",
        "description": "",
        "formtitle": "Please select one of the following roles that your company will take in the ecosystem",
        "formDes": "",
        "tiptitle": "Third Step Tip",
        "tipdesc": "Create your account in a few steps and benefit of our secure and transparent Federated Catalogue.",
        "menuButton": [
            {
                "id": "",
                "label": "Previous",
                "style": "",
                "class": "",
                "value": "goto2ndStep",
                "select": "Submit and Send Data",
                "onClickSend": "goto2ndStep"
            },
            {
                "id": "",
                "label": "Next",
                "style": "",
                "class": "",
                "value": "goto4thStep",
                "select": "Submit and Send Data",
                "onClickSend": "goto4thStep"
            }
        ],
        "formElement": [
            {
                "defaultsel": "Active participant",
                "type": "checkBox",
                "title": "Role Selection",
                "label": "Active participant",
                "style": "font-weight: 700;",
                "class": ""
            },
            {
                "defaultsel": "yes I agree to the security regulations of the selected roles",
                "type": "checkBox",
                "title": "Role Selection 2",
                "label": "yes I agree to the terms and conditions of the selected roles,yes I agree to the security regulations of the selected roles",
                "style": "",
                "class": ""
            },
            {
                "defaultsel": "App Provider",
                "type": "checkBox",
                "title": "Role Selection 3",
                "label": "App Provider",
                "style": "",
                "class": ""
            },
            {
                "defaultsel": "yes I agree to the terms and conditions of the selected roles",
                "type": "checkBox",
                "title": "Role Selection 4",
                "label": "yes I agree to the terms and conditions of the selected roles,yes I agree to the security regulations of the selected roles",
                "style": "",
                "class": ""
            },
            {
                "defaultsel": "Service Provider",
                "type": "checkBox",
                "title": "Role Selection 5",
                "label": "Service Provider",
                "style": "",
                "class": ""
            },
            {
                "defaultsel": "yes I agree to the security regulations of the selected roles",
                "type": "checkBox",
                "title": "Role Selection 6",
                "label": "yes I agree to the terms and conditions of the selected roles,yes I agree to the security regulations of the selected roles",
                "style": "",
                "class": ""
            },
            {
                "value": {},
                "style": "",
                "class": "",
                "type": "download",
                "label": "Download",
                "description": "Download your file",
                "downloadkey": "12"
            }
        ],
        "dropdownStatus": "false",
        "x": 795,
        "y": 420,
        "wires": [
            [
                "c36c5da96bbfa70e"
            ]
        ]
    },
    {
        "id": "c36c5da96bbfa70e",
        "type": "Data_Set",
        "z": "1e91cdd6adec7f38",
        "g": "fadc496bcf9b0c49",
        "name": "Step 4",
        "number": "4",
        "title": "Proof of conformity",
        "description": "",
        "formtitle": "Please upload certificates as proof of conformity",
        "formDes": "",
        "tiptitle": "Fourth Step Tip",
        "tipdesc": "Create your account in a few steps and benefit of our secure and transparent Federated Catalogue.",
        "menuButton": [
            {
                "id": "",
                "label": "Previous",
                "style": "",
                "class": "",
                "value": "goto3rdStep",
                "select": "Submit and Send Data",
                "onClickSend": "goto3rdStep"
            },
            {
                "id": "",
                "label": "Next",
                "style": "",
                "class": "",
                "value": "goto5thStep",
                "select": "Submit and Send Data",
                "onClickSend": "goto5thStep"
            }
        ],
        "formElement": [
            {
                "type": "label",
                "title": "Mandatory",
                "description": "",
                "style": "",
                "class": ""
            },
            {
                "value": {},
                "style": "",
                "class": "",
                "type": "upload",
                "label": "",
                "description": "Extract from the commercial register",
                "accept": "*",
                "multiple": "false",
                "uploadkey": ""
            },
            {
                "value": {},
                "style": "",
                "class": "",
                "type": "upload",
                "label": "",
                "description": "Self assessment results for the Catena-X internal guidlines",
                "accept": "*",
                "multiple": "false",
                "uploadkey": ""
            },
            {
                "value": {},
                "style": "",
                "class": "",
                "type": "upload",
                "label": "",
                "description": "ISO 9001 certificate (or evidence for being in the process of receiving a (re-)certification)",
                "accept": "*",
                "multiple": "false",
                "uploadkey": ""
            },
            {
                "type": "label",
                "title": "Optional",
                "description": "",
                "style": "",
                "class": ""
            },
            {
                "value": {},
                "style": "",
                "class": "",
                "type": "upload",
                "label": "",
                "description": "ISO/IEC 27001 . TISAX Level1",
                "accept": "*",
                "multiple": "false",
                "uploadkey": ""
            },
            {
                "value": {},
                "style": "",
                "class": "",
                "type": "upload",
                "label": "",
                "description": "ISO/IEC 27018",
                "accept": "*",
                "multiple": "false",
                "uploadkey": ""
            },
            {
                "value": {},
                "style": "",
                "class": "",
                "type": "upload",
                "label": "",
                "description": "ISO/IEC 20000-1",
                "accept": "*",
                "multiple": "false",
                "uploadkey": ""
            },
            {
                "value": {},
                "style": "",
                "class": "",
                "type": "upload",
                "label": "",
                "description": "ISO 22310",
                "accept": "*",
                "multiple": "false",
                "uploadkey": ""
            }
        ],
        "dropdownStatus": "false",
        "x": 1075,
        "y": 420,
        "wires": [
            [
                "dc46d7175941a128"
            ]
        ]
    },
    {
        "id": "eefeb0eaaec98399",
        "type": "link out",
        "z": "1e91cdd6adec7f38",
        "g": "fadc496bcf9b0c49",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "69313f4d3d88dade",
            "0e64742e07bc5add",
            "040433e8d812160f",
            "1ded9608124c2e80"
        ],
        "x": 1852.5,
        "y": 400,
        "wires": []
    },
    {
        "id": "b69916f6b7354665",
        "type": "function",
        "z": "1e91cdd6adec7f38",
        "g": "fadc496bcf9b0c49",
        "name": "Table Data",
        "func": "\nvar input = msg.ui; // assuming the JSON is in the msg.payload\n\nvar dataset_s = input.dataset_s;\n\n// get the last object in dataset_s\nvar lastObjIndex = Object.keys(dataset_s).length - 1;\nvar lastObj = dataset_s[lastObjIndex];\n\n// add the new key-value pair\nlastObj.table = {\n    \"rightSide\": {\n        \"placeholder\": \"Search...\",\n        \"advance\": \"Advanced Search\",\n        \"servicesTitle\": \"Services\",\n        \"headersRight\": [\n            {\n                \"providerLogo\": \"https://cdn.icon-icons.com/icons2/2699/PNG/512/atlassian_jira_logo_icon_170511.png\",\n                \"firstItem\": \"Otus-M(1-1)\",\n                \"secondItem\": \"Kamadakka(1)\",\n                \"columns\": [\n                    {\n                        \"title\": \"Stack\",\n                        \"value\": \"stack\"\n                    },\n                    {\n                        \"title\": \"Security\",\n                        \"value\": \"security\"\n                    },\n                    {\n                        \"title\": \"Location\",\n                        \"value\": \"New York\"\n                    }\n                ],\n                \"rightColumnSections\": [\n                    {\n                        \"id\": \"details\",\n                        \"label\": \"Details\",\n                        \"collapse\": false,\n                        \"content\": {\n                            \"description\": \"This is the description for Details.\"\n                        }\n                    },\n                    {\n                        \"id\": \"screenshots\",\n                        \"label\": \"Screenshots\",\n                        \"collapse\": false,\n                        \"content\": {\n                            \"image\": \"https://s3-us-west-2.amazonaws.com/s.cdpn.io/5689/arch.jpg\"\n                        }\n                    },\n                    {\n                        \"id\": \"contact\",\n                        \"label\": \"Contact\",\n                        \"collapse\": false,\n                        \"content\": {\n                            \"technicalPhone\": \"+49 00 0000 11111\",\n                            \"technicalEmail\": \"1-1@example.com\",\n                            \"supportPhone\": \"+49 00 0000 22222\",\n                            \"supportEmail\": \"1-1@example.com\"\n                        }\n                    }\n                ],\n                \"collapse\": false\n            },\n            {\n                \"providerLogo\": \"https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Android_O_Preview_Logo.png/1200px-Android_O_Preview_Logo.png\",\n                \"firstItem\": \"Rational Offices\",\n                \"secondItem\": \"Kamadakka(1)\",\n                \"columns\": [\n                    {\n                        \"title\": \"Stack\",\n                        \"value\": \"stack\"\n                    },\n                    {\n                        \"title\": \"Security\",\n                        \"value\": \"security\"\n                    },\n                    {\n                        \"title\": \"Location\",\n                        \"value\": \"New York\"\n                    }\n                ],\n                \"rightColumnSections\": [\n                    {\n                        \"id\": \"details\",\n                        \"label\": \"Details1\",\n                        \"collapse\": false,\n                        \"content\": {\n                            \"description\": \"This is the description for Details.\"\n                        }\n                    },\n                    {\n                        \"id\": \"screenshots\",\n                        \"label\": \"Screenshots1\",\n                        \"collapse\": false,\n                        \"content\": {\n                            \"image\": \"https://images.unsplash.com/photo-1501594907352-04cda38ebc29\"\n                        }\n                    },\n                    {\n                        \"id\": \"contact\",\n                        \"label\": \"Contact1\",\n                        \"collapse\": false,\n                        \"content\": {\n                            \"technicalPhone\": \"+49 00 0000 11111\",\n                            \"technicalEmail\": \"gaia@example.com\",\n                            \"supportPhone\": \"+49 00 0000 22222\",\n                            \"supportEmail\": \"1-1@example.com\"\n                        }\n                    }\n                ],\n                \"collapse\": false\n            },\n            {\n                \"providerLogo\": \"https://cdn.icon-icons.com/icons2/2699/PNG/512/atlassian_jira_logo_icon_170511.png\",\n                \"firstItem\": \"The Service Power\",\n                \"secondItem\": \"Otus-M (2)\",\n                \"columns\": [\n                    {\n                        \"title\": \"Stack\",\n                        \"value\": \"stack\"\n                    },\n                    {\n                        \"title\": \"Security\",\n                        \"value\": \"security\"\n                    },\n                    {\n                        \"title\": \"Location\",\n                        \"value\": \"New York\"\n                    }\n                ],\n                \"rightColumnSections\": [\n                    {\n                        \"id\": \"details\",\n                        \"label\": \"Details2\",\n                        \"collapse\": false,\n                        \"content\": {\n                            \"description\": \"This is the description for Details.\"\n                        }\n                    },\n                    {\n                        \"id\": \"screenshots\",\n                        \"label\": \"Screenshots2\",\n                        \"collapse\": false,\n                        \"content\": {\n                            \"image\": \"https://images.unsplash.com/photo-1542744173-05336fcc7ad4\"\n                        }\n                    },\n                    {\n                        \"id\": \"contact\",\n                        \"label\": \"Contact2\",\n                        \"collapse\": false,\n                        \"content\": {\n                            \"technicalPhone\": \"+49 00 0000 11111\",\n                            \"technicalEmail\": \"1-1@example.com\",\n                            \"supportPhone\": \"+49 00 0000 22222\",\n                            \"supportEmail\": \"1-1@example.com\"\n                        }\n                    }\n                ],\n                \"collapse\": false\n            },\n            {\n                \"providerLogo\": \"https://cdn.logo.com/hotlink-ok/logo-social.png\",\n                \"firstItem\": \"Analytical Supporting\",\n                \"secondItem\": \"Rational Offices(2)\",\n                \"columns\": [\n                    {\n                        \"title\": \"Stack\",\n                        \"value\": \"stack2\"\n                    },\n                    {\n                        \"title\": \"Security\",\n                        \"value\": \"security2\"\n                    },\n                    {\n                        \"title\": \"Location\",\n                        \"value\": \"Los Angeles\"\n                    }\n                ],\n                \"rightColumnSections\": [\n                    {\n                        \"id\": \"details\",\n                        \"label\": \"Details\",\n                        \"collapse\": false,\n                        \"content\": {\n                            \"description\": \"This is the description for Details.\"\n                        }\n                    },\n                    {\n                        \"id\": \"screenshots\",\n                        \"label\": \"Screenshots\",\n                        \"collapse\": false,\n                        \"content\": {\n                            \"image\": \"https://images.unsplash.com/photo-1541698444083-023c97d3f4b6\"\n                        }\n                    },\n                    {\n                        \"id\": \"contact\",\n                        \"label\": \"Contact\",\n                        \"collapse\": false,\n                        \"content\": {\n                            \"technicalPhone\": \"+49 00 0000 11111\",\n                            \"technicalEmail\": \"1-1@example.com\",\n                            \"supportPhone\": \"+49 00 0000 22222\",\n                            \"supportEmail\": \"1-1@example.com\"\n                        }\n                    }\n                ],\n                \"collapse\": false\n            }\n        ],\n        \"itemsRight\": [\n            {\n                \"title\": \"Belgrade\",\n                \"checked\": true,\n                \"label\": 22\n            },\n            {\n                \"title\": \"New York\",\n                \"checked\": false,\n                \"label\": 52\n            },\n            {\n                \"title\": \"Berlin\",\n                \"checked\": false,\n                \"label\": 72\n            }\n        ]\n    }\n};\n\nmsg.payload = input;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1655,
        "y": 400,
        "wires": [
            [
                "eefeb0eaaec98399"
            ]
        ]
    },
    {
        "id": "dc46d7175941a128",
        "type": "Data_Set",
        "z": "1e91cdd6adec7f38",
        "g": "fadc496bcf9b0c49",
        "name": "Step 5",
        "number": "5",
        "title": "Table Data",
        "description": "",
        "formtitle": "Please upload certificates as proof of conformity",
        "formDes": "",
        "tiptitle": "Fifth Step Tip",
        "tipdesc": "Table data",
        "menuButton": [
            {
                "id": "",
                "label": "Previous",
                "style": "",
                "class": "",
                "value": "goto4thStep",
                "select": "Submit and Send Data",
                "onClickSend": "goto4thStep"
            },
            {
                "id": "",
                "label": "Next",
                "style": "",
                "class": "",
                "value": "goto6thStep",
                "select": "Submit and Send Data",
                "onClickSend": "goto6thStep"
            }
        ],
        "formElement": [
            {
                "type": "label",
                "title": "Mandatory",
                "description": "",
                "style": "",
                "class": ""
            },
            {
                "value": {},
                "style": "",
                "class": "",
                "type": "upload",
                "label": "",
                "description": "Extract from the commercial register",
                "accept": "*",
                "multiple": "false",
                "uploadkey": ""
            },
            {
                "value": {},
                "style": "",
                "class": "",
                "type": "upload",
                "label": "",
                "description": "Self assessment results for the Catena-X internal guidlines",
                "accept": "*",
                "multiple": "false",
                "uploadkey": ""
            },
            {
                "value": {},
                "style": "",
                "class": "",
                "type": "upload",
                "label": "",
                "description": "ISO 9001 certificate (or evidence for being in the process of receiving a (re-)certification)",
                "accept": "*",
                "multiple": "false",
                "uploadkey": ""
            },
            {
                "type": "label",
                "title": "Optional",
                "description": "",
                "style": "",
                "class": ""
            },
            {
                "value": {},
                "style": "",
                "class": "",
                "type": "upload",
                "label": "",
                "description": "ISO/IEC 27001 . TISAX Level1",
                "accept": "*",
                "multiple": "false",
                "uploadkey": ""
            },
            {
                "value": {},
                "style": "",
                "class": "",
                "type": "upload",
                "label": "",
                "description": "ISO/IEC 27018",
                "accept": "*",
                "multiple": "false",
                "uploadkey": ""
            },
            {
                "value": {},
                "style": "",
                "class": "",
                "type": "upload",
                "label": "",
                "description": "ISO/IEC 20000-1",
                "accept": "*",
                "multiple": "false",
                "uploadkey": ""
            },
            {
                "value": {},
                "style": "",
                "class": "",
                "type": "upload",
                "label": "",
                "description": "ISO 22310",
                "accept": "*",
                "multiple": "false",
                "uploadkey": ""
            }
        ],
        "dropdownStatus": "false",
        "x": 1365,
        "y": 420,
        "wires": [
            [
                "b69916f6b7354665"
            ]
        ]
    },
    {
        "id": "35a4bc886944a50d",
        "type": "link in",
        "z": "1e91cdd6adec7f38",
        "g": "fadc496bcf9b0c49",
        "name": "link in 23",
        "links": [
            "83645bb92e266d3d",
            "c3c94726302d4e18"
        ],
        "x": 327.5,
        "y": 220,
        "wires": [
            [
                "891927badc5783aa"
            ]
        ]
    },
    {
        "id": "e28612c32fd7f5e4",
        "type": "link out",
        "z": "1e91cdd6adec7f38",
        "g": "fadc496bcf9b0c49",
        "name": "link out 31",
        "mode": "link",
        "links": [
            "bb72588602fb75e5"
        ],
        "x": 1547.5,
        "y": 280,
        "wires": []
    },
    {
        "id": "bb72588602fb75e5",
        "type": "link in",
        "z": "1e91cdd6adec7f38",
        "g": "fadc496bcf9b0c49",
        "name": "link in 28",
        "links": [
            "e28612c32fd7f5e4"
        ],
        "x": 327.5,
        "y": 420,
        "wires": [
            [
                "3e379b2b04235fa1"
            ]
        ]
    },
    {
        "id": "a0219836489b2aed",
        "type": "group",
        "z": "1e91cdd6adec7f38",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "aab69b722396032e",
            "a51efc4d5a775c3d",
            "5e1d43512c64a1c8"
        ],
        "x": 1174,
        "y": 606.5,
        "w": 702,
        "h": 229.5
    },
    {
        "id": "fc56824f677be0b1",
        "type": "subflow",
        "name": "msgDB",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 310,
                "wires": [
                    {
                        "id": "998edb7383ee452d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 2427.5,
                "y": 660,
                "wires": [
                    {
                        "id": "6e10547e37404c57",
                        "port": 0
                    },
                    {
                        "id": "c2acb881ed7fbeaa",
                        "port": 0
                    }
                ]
            },
            {
                "x": 2307.5,
                "y": 840,
                "wires": [
                    {
                        "id": "6a56740d26d6b7a7",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 2300,
            "y": 960,
            "wires": [
                {
                    "id": "80a5fa6d1a0f0a0e",
                    "port": 0
                },
                {
                    "id": "d243905207261374",
                    "port": 0
                },
                {
                    "id": "5c8dd9311bdbda34",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "2e6ffeb5908a6030",
        "type": "set item",
        "z": "fc56824f677be0b1",
        "name": "",
        "localStorage": "85c5587e2a964217",
        "x": 1775,
        "y": 520,
        "wires": [
            [
                "80a5fa6d1a0f0a0e",
                "c2acb881ed7fbeaa"
            ]
        ]
    },
    {
        "id": "06812c581cfc442b",
        "type": "get item",
        "z": "fc56824f677be0b1",
        "name": "",
        "localStorage": "85c5587e2a964217",
        "x": 1150,
        "y": 660,
        "wires": [
            [
                "2885e6035c827645"
            ]
        ]
    },
    {
        "id": "999d69aeeb8c04b4",
        "type": "json",
        "z": "fc56824f677be0b1",
        "name": "",
        "property": "localStorage.value",
        "action": "str",
        "pretty": true,
        "x": 1410,
        "y": 360,
        "wires": [
            [
                "2e6ffeb5908a6030"
            ]
        ]
    },
    {
        "id": "1c437cf193a4760e",
        "type": "change",
        "z": "fc56824f677be0b1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "localStorage.key",
                "pt": "msg",
                "to": "key",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 235,
        "y": 600,
        "wires": [
            [
                "cbbfbe1bb6720ce6"
            ]
        ]
    },
    {
        "id": "cbbfbe1bb6720ce6",
        "type": "switch",
        "z": "fc56824f677be0b1",
        "name": "",
        "property": "lstorage",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SET",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GET",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 600,
        "wires": [
            [
                "6bb2019ca62911eb"
            ],
            [
                "243a429f906b9405"
            ]
        ]
    },
    {
        "id": "6bb2019ca62911eb",
        "type": "function",
        "z": "fc56824f677be0b1",
        "name": "",
        "func": "const clone = RED.util.cloneMessage(msg);\nmsg.localStorage.value = clone;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 855,
        "y": 520,
        "wires": [
            [
                "f812cc1244cf0836"
            ]
        ]
    },
    {
        "id": "f812cc1244cf0836",
        "type": "change",
        "z": "fc56824f677be0b1",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "localStorage.value.lstorage",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "localStorage.value.localStorage",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "localStorage.value.key",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "key",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "lstorage",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1155,
        "y": 520,
        "wires": [
            [
                "999d69aeeb8c04b4"
            ]
        ]
    },
    {
        "id": "2885e6035c827645",
        "type": "function",
        "z": "fc56824f677be0b1",
        "name": "",
        "func": "msg.localStorage =JSON.parse(msg.localStorage.data);\nlet dbmsg = msg.localStorage;\nvar mainmsg=msg.mainmsg\nmsg = {};\nmsg = mainmsg;\nmsg.credentials=dbmsg\ndelete msg.mainmsg\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 660,
        "wires": [
            [
                "d243905207261374",
                "6e10547e37404c57"
            ]
        ]
    },
    {
        "id": "243a429f906b9405",
        "type": "has item",
        "z": "fc56824f677be0b1",
        "name": "",
        "localStorage": "85c5587e2a964217",
        "x": 850,
        "y": 680,
        "wires": [
            [
                "06812c581cfc442b"
            ],
            [
                "5c8dd9311bdbda34",
                "6a56740d26d6b7a7"
            ]
        ]
    },
    {
        "id": "5c8dd9311bdbda34",
        "type": "function",
        "z": "fc56824f677be0b1",
        "name": "",
        "func": "msg = {};\nmsg.payload = false\nlet statusMsg = { fill:\"red\", shape:\"dot\", text:\"Storage: \"+ \"Not Exist\" };\nreturn {payload:statusMsg};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "80a5fa6d1a0f0a0e",
        "type": "function",
        "z": "fc56824f677be0b1",
        "name": "",
        "func": "msg = {};\nlet statusMsg = { fill:\"blue\", shape:\"dot\", text:\"Storage: \"+ \"Saved\" };\nreturn {payload:statusMsg};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2070,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d243905207261374",
        "type": "function",
        "z": "fc56824f677be0b1",
        "name": "",
        "func": "msg = {};\nlet statusMsg = { fill:\"green\", shape:\"dot\", text:\"Storage: \"+ \"Found\" };\nreturn {payload:statusMsg};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "6e10547e37404c57",
        "type": "change",
        "z": "fc56824f677be0b1",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "key",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "lstorage",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "credentials.mainmsg",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "credentials._msgid",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1750,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "c2acb881ed7fbeaa",
        "type": "function",
        "z": "fc56824f677be0b1",
        "name": "",
        "func": "let mainmsg =  msg.mainmsg\nmsg = {};\nmsg =  mainmsg\n\ndelete msg.key\ndelete msg.lstorage\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2070,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "998edb7383ee452d",
        "type": "function",
        "z": "fc56824f677be0b1",
        "name": "",
        "func": "const clone = RED.util.cloneMessage(msg);\nmsg.mainmsg = clone;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 440,
        "wires": [
            [
                "1c437cf193a4760e"
            ]
        ]
    },
    {
        "id": "6a56740d26d6b7a7",
        "type": "function",
        "z": "fc56824f677be0b1",
        "name": "",
        "func": "let mainmsg =  msg.mainmsg\nmsg = {};\nmsg =  mainmsg\n\ndelete msg.key\ndelete msg.lstorage\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1285,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "85c5587e2a964217",
        "type": "local-storage",
        "name": "LocalStoage"
    },
    {
        "id": "217f47d9605728ff",
        "type": "subflow",
        "name": "GET Persistante",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 30,
                "y": 500,
                "wires": [
                    {
                        "id": "1e54633012b2549e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1770,
                "y": 220,
                "wires": [
                    {
                        "id": "8993a0aabb619415",
                        "port": 0
                    },
                    {
                        "id": "cc092394984f8565",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "1e54633012b2549e",
        "type": "switch",
        "z": "217f47d9605728ff",
        "name": "",
        "property": "uibuilderCtrl",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "client connect",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": " msg.clientId",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 245,
        "y": 500,
        "wires": [
            [
                "4d989ddd1435c4e4"
            ],
            []
        ]
    },
    {
        "id": "4d989ddd1435c4e4",
        "type": "function",
        "z": "217f47d9605728ff",
        "name": "function 5",
        "func": "var key = msg.clientId\n\nmsg.lstorage = \"GET\"\nmsg.key = key\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 595,
        "y": 500,
        "wires": [
            [
                "12abf98077aefec4"
            ]
        ]
    },
    {
        "id": "12abf98077aefec4",
        "type": "subflow:fc56824f677be0b1",
        "z": "217f47d9605728ff",
        "name": "",
        "x": 945,
        "y": 500,
        "wires": [
            [
                "4220918843143c69"
            ],
            []
        ]
    },
    {
        "id": "4220918843143c69",
        "type": "function",
        "z": "217f47d9605728ff",
        "name": "function 6",
        "func": "var uimsg= msg.credentials\nvar clientId = msg.clientId\nvar socket = msg._socketId\nmsg={}\nmsg._socketId = socket\nmsg.clientId = clientId\nmsg.payload = {};\nmsg.payload=uimsg\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1285,
        "y": 500,
        "wires": [
            [
                "cc092394984f8565"
            ]
        ]
    },
    {
        "id": "8993a0aabb619415",
        "type": "change",
        "z": "217f47d9605728ff",
        "name": "set value",
        "rules": [
            {
                "t": "set",
                "p": "payload.ui.dataset_s[\"2\"].form.element_s[\"6\"].value",
                "pt": "msg",
                "to": "data",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1565,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "cc092394984f8565",
        "type": "switch",
        "z": "217f47d9605728ff",
        "name": "",
        "property": "data",
        "propertyType": "global",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1585,
        "y": 500,
        "wires": [
            [],
            [
                "8993a0aabb619415"
            ]
        ]
    },
    {
        "id": "aab69b722396032e",
        "type": "subflow:217f47d9605728ff",
        "z": "1e91cdd6adec7f38",
        "g": "a0219836489b2aed",
        "name": "GET Persistante",
        "x": 1325,
        "y": 760,
        "wires": [
            [
                "5e1d43512c64a1c8",
                "a51efc4d5a775c3d"
            ]
        ]
    },
    {
        "id": "a51efc4d5a775c3d",
        "type": "link out",
        "z": "1e91cdd6adec7f38",
        "g": "a0219836489b2aed",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "c82781cd351d7d06"
        ],
        "x": 1547.5,
        "y": 660,
        "wires": []
    },
    {
        "id": "5e1d43512c64a1c8",
        "type": "function",
        "z": "1e91cdd6adec7f38",
        "g": "a0219836489b2aed",
        "name": "download",
        "func": "function fillDownloadElements(jsonData, files) {\n    for (const step of Object.values(jsonData)) {\n        for (const element of Object.values(step.form.element_s)) {\n            if (element.type === \"download\" && element.options.downloadKey) {\n                const downloadKey = element.options.downloadKey;\n                if (files.hasOwnProperty(downloadKey)) {\n                    element.value = files[downloadKey];\n                } else {\n                    element.value = null;\n                }\n            }\n        }\n    }\n}\n\nlet data = msg.payload.ui.dataset_s;\nlet files = msg.payload.files\n\nfillDownloadElements(data,files);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1725,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "1fb3041191d35599",
        "type": "group",
        "z": "1e91cdd6adec7f38",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "98380840f155477d",
            "585313fa3561e9db",
            "3b6379b17fba9e3e",
            "f461776f5d600e1d",
            "3f0f76d2eb9c090e",
            "dc5f40daf04d115a",
            "1e305b63896ae38a",
            "7313f4a662787b3a",
            "352c035aa6434430",
            "cc1c414ee3cb3d8c",
            "982061121ec692d8"
        ],
        "x": 109,
        "y": 1044,
        "w": 1887,
        "h": 509.5
    },
    {
        "id": "98380840f155477d",
        "type": "switch",
        "z": "1e91cdd6adec7f38",
        "g": "1fb3041191d35599",
        "name": "",
        "property": "payload.init",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "userToken",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 375,
        "y": 1220,
        "wires": [
            [
                "7313f4a662787b3a"
            ],
            [
                "982061121ec692d8"
            ]
        ]
    },
    {
        "id": "585313fa3561e9db",
        "type": "link out",
        "z": "1e91cdd6adec7f38",
        "g": "1fb3041191d35599",
        "name": "link out 26",
        "mode": "link",
        "links": [
            "c82781cd351d7d06"
        ],
        "x": 1942.5,
        "y": 1180,
        "wires": []
    },
    {
        "id": "3b6379b17fba9e3e",
        "type": "link out",
        "z": "1e91cdd6adec7f38",
        "g": "1fb3041191d35599",
        "name": "link out 27",
        "mode": "link",
        "links": [
            "f7b0265e7debd108"
        ],
        "x": 962.5,
        "y": 1500,
        "wires": []
    },
    {
        "id": "f461776f5d600e1d",
        "type": "link in",
        "z": "1e91cdd6adec7f38",
        "g": "1fb3041191d35599",
        "name": "link in 29",
        "links": [
            "a96af4f09d76c3bd"
        ],
        "x": 162.5,
        "y": 1220,
        "wires": [
            [
                "98380840f155477d"
            ]
        ]
    },
    {
        "id": "3f0f76d2eb9c090e",
        "type": "mongodb4",
        "z": "1e91cdd6adec7f38",
        "g": "1fb3041191d35599",
        "clientNode": "e54735180560f6bc",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 1335,
        "y": 1120,
        "wires": [
            [
                "1e305b63896ae38a"
            ]
        ]
    },
    {
        "id": "dc5f40daf04d115a",
        "type": "function",
        "z": "1e91cdd6adec7f38",
        "g": "1fb3041191d35599",
        "name": "Get data",
        "func": "if (msg.payload.init.userToken !== undefined){\n    msg.collection = \"auth\"\n    msg.operation = \"findOne\"\n    const query = { token: msg.payload.init.userToken }\n    msg.payload = [query];\n}\n\n    return msg;   \n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1045,
        "y": 1120,
        "wires": [
            [
                "3f0f76d2eb9c090e"
            ]
        ]
    },
    {
        "id": "1e305b63896ae38a",
        "type": "function",
        "z": "1e91cdd6adec7f38",
        "g": "1fb3041191d35599",
        "name": "function 79",
        "func": "// var uimsg = msg.payload\n// var services = msg.payload.service.URL\n// msg = {}\n\n// msg.payload = {};\n// msg.services = services\n// msg.payload = uimsg\n\n// if (msg.services == \"/GXUI\") {\n//     if (typeof msg.payload.ui[msg.services] !== \"undefined\") {\n       \n//         msg = {}\n//         msg.payload = {}\n//         msg.payload.ui = msg.payload.ui.GXUI\n\n//     } else {\n//         msg = {}\n//         msg.payload = \"No UI Found\"\n\n//     }\n\n// } else if (msg.services == \"/wizard\") {\n//     if (typeof msg.payload.ui[msg.services] !== \"undefined\") {\n       \n//         msg = {}\n//         msg.payload = {}\n//         msg.payload.ui = msg.payload.ui.wizard\n\n\n//     } else {\n//         msg = {}\n//         msg.payload = \"No UI Found\"\n//     }\n\n// }\n\n// return msg;\n// if (msg.payload.ui.GXUI !== \"undefined\"){\n//     msg = {}\n//     msg.payload = {}\n//     msg.payload = msg.payload.ui.GXUI\n// } else {\n//         msg = {}\n//         msg.payload = \"No UI Found\"\n//     }\nvar clientid = msg.clientId\nvar socketid = msg._socketId\nvar ui = msg.payload.ui.GXUI\nif (msg.payload.ui && typeof msg.payload.ui.GXUI !== \"undefined\") {\n    msg = {}\n    msg.clientId = clientid\n    msg._socketId = socketid\n    msg.payload = {}\n    msg.payload.ui = ui ;\n} else {\n    \n    msg = {}\n    msg.clientId = clientid\n    msg._socketId = socketid\n    msg.payload = {}\n    msg.payload= \"No UI Found\";\n}\n    return msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1695,
        "y": 1120,
        "wires": [
            [
                "585313fa3561e9db"
            ]
        ]
    },
    {
        "id": "7313f4a662787b3a",
        "type": "change",
        "z": "1e91cdd6adec7f38",
        "g": "1fb3041191d35599",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "clientId",
                "pt": "msg",
                "to": "payload.init.clientId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 725,
        "y": 1120,
        "wires": [
            [
                "dc5f40daf04d115a"
            ]
        ]
    },
    {
        "id": "352c035aa6434430",
        "type": "mongodb4",
        "z": "1e91cdd6adec7f38",
        "g": "1fb3041191d35599",
        "clientNode": "e54735180560f6bc",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 1385,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "cc1c414ee3cb3d8c",
        "type": "function",
        "z": "1e91cdd6adec7f38",
        "g": "1fb3041191d35599",
        "name": "Update Data",
        "func": "\nmsg.collection = \"auth\"; // the name of your collection\nmsg.operation = \"updateOne\";\nconst filter = {token : msg.payload.userToken }\n\n    const updateDoc = {\n        \"$set\": {\n            \"ui.GXUI\" : msg.payload.ui,\n            \"files\": msg.payload.files\n        }\n    }\n    msg.payload = [filter, updateDoc]\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1045,
        "y": 1340,
        "wires": [
            [
                "352c035aa6434430"
            ]
        ]
    },
    {
        "id": "982061121ec692d8",
        "type": "function",
        "z": "1e91cdd6adec7f38",
        "g": "1fb3041191d35599",
        "name": "upload",
        "func": "\nfunction findUploadElements(jsonData) {\n    const uploadElements = {};\n    for (const step of Object.values(jsonData)) {\n        for (const element of Object.values(step.form.element_s)) {\n            if (element.type === \"upload\" && element.value) {\n                uploadElements[element.uploadkey] = element.value;\n            }\n        }\n    }\n    for (const step of Object.values(jsonData)) {\n        for (const element of Object.values(step.form.element_s)) {\n            if (element.type === \"download\" && element.options.downloadKey in uploadElements) {\n                element.value = uploadElements[element.options.downloadKey];\n            }\n        }\n    }\n    return uploadElements;\n}\n\n\nlet data = msg.payload.ui.dataset_s\nmsg.payload.files = findUploadElements(data)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 735,
        "y": 1340,
        "wires": [
            [
                "cc1c414ee3cb3d8c",
                "3b6379b17fba9e3e"
            ]
        ]
    },
    {
        "id": "e54735180560f6bc",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb+srv",
        "hostname": "db-mongodb-leanea-f9f0367b.mongo.ondigitalocean.com",
        "port": "",
        "dbName": "gxfsDB",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": true,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    }
]