.node-red/node_modules/node-red-leanea-prompt-node/prompt_to_import.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f2b4c1ed6a3d43f2",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "key",
                "v": "eyJ0eXAiOiJKV1QiLCJraWQiOiIxMWEzZWJjMC03MjhjLTRhNzctYTJjNi00ZjU4ZjE4YjBjOWEiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJpb25vc2Nsb3VkIiwiaWF0IjoxNzQ3NjU4MDIyLCJjbGllbnQiOiJVU0VSIiwiaWRlbnRpdHkiOnsiY29udHJhY3ROdW1iZXIiOjM1NjY2NTMzLCJpc1BhcmVudCI6ZmFsc2UsInByaXZpbGVnZXMiOlsiQUNDRVNTX0FORF9NQU5BR0VfQUlfTU9ERUxfSFVCIl0sInV1aWQiOiJiNGQyZTVjYS1mYWFhLTRkZmMtOWNhMC1jMmExNmQ0YTk2NjciLCJyZXNlbGxlcklkIjoxLCJyZWdEb21haW4iOiJpb25vcy5kZSIsInJvbGUiOiJ1c2VyIn0sImV4cCI6MTc1MDI1MDAyMn0.D345LiSAPe1p4BSSZuSgYIHU_q1KB93RUcmT2Vb-vrlwKGI7qr-I5Yhppf16Md3Ey5ZCVtqJEep01CzUh7WO2jY4a6t8f2TUeQwLSXhAGlSulB0j8WUIyPxq-5xooSbkPKqC4uuejbG5bem-GFTQBzgWh2-O1-y6Ddd6fUep8Z-COT2lC9jQVDQ7o5NRpdaMaBMxapERiiKUNlXCvEonbjJCVZ_oiKDHlE0t9OGxoHkJZDDvaiMHQhwcuY4jsPosCkam_S6JkJRl-rmF7CptREE3ABEvjJuUbIXHa8aI2SjEseICps-SLOcOLSqaZ-djWjPpcejH-bNIu6W__wpIjg",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Create a flow that on deploy injects the current timestamp, then calls the Orchestration Engine node with: - instanceName: \"orderProcessor\" - auth: basic using username \"adminUser\" and password \"s3cr3tP@ss\" - domainAddress: \"api.orders.example.com\" - customScript: \"initializeOrderWorkflow();\"",
        "payloadType": "str",
        "x": 182.5,
        "y": 200,
        "wires": [
            [
                "e77eb5c5e7aa13cf"
            ]
        ]
    },
    {
        "id": "b5951b70dede7306",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 837.5,
        "y": 200,
        "wires": [
            [
                "4153735192315cdd"
            ]
        ]
    },
    {
        "id": "4153735192315cdd",
        "type": "browser-js",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "code": ";(function(){\n  const myFlow = msg.payload;\n  const jsonText = JSON.stringify(myFlow, null, 2);\n  const importAsNew = true;\n  RED.view.importNodes(jsonText, importAsNew);\n  RED.view.focus();\n})();\n",
        "x": 1157.5,
        "y": 200,
        "wires": []
    },
    {
        "id": "e77eb5c5e7aa13cf",
        "type": "prompt-node",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "model": "mistralai/Mixtral-8x7B-Instruct-v0.1",
        "useMsgKey": true,
        "x": 497.5,
        "y": 220,
        "wires": [
            [
                "b5951b70dede7306"
            ]
        ]
    }
]